In [8]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Import data
path = "significant_df.csv"

noshow_df = pd.read_csv(path)
noshow_df

,Patient_ID,Age,Gender,Insurance_Type,Chronic_Disease,Mental_Health_Status,Employment_Status,Education_Level,Transportation_Access,Distance_from_Facility,Area_Type,Booking_Date,Appointment_Date,Days Diff,Appointment_Outcome
0,75763,93.0,Male,Medicare,False,True,Student,Advanced Degree,True,37.785038,Suburban,2023-11-04,2024-08-15,285,Show
1,84945,52.0,Male,Uninsured,False,False,Employed,College,True,NaN,Rural,2023-10-28,2024-07-11,257,No-Show
2,88559,8.0,Male,Medicare,True,NaN,NaN,Advanced Degree,True,27.277654,Rural,2023-02-12,2024-10-26,622,Show
3,72217,5.0,Other,Medicare,False,True,Student,College,True,44.618708,NaN,2023-01-30,2024-01-31,366,Show
4,34403,15.0,Female,Medicaid,NaN,False,Unemployed,High School,True,34.033755,Suburban,2023-08-13,2024-07-23,345,Show
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45037,91361,57.0,Female,Private,True,False,Student,High School,True,28.410940,Suburban,2024-01-26,2024-03-01,35,Show
45038,16333,48.0,Female,NaN,True,True,Student,NaN,True,26.576418,Urban,2023-11-24,2024-03-16,113,No-Show
45039,11153,5.0,Other,Medicaid,True,True,Student,NaN,False,20.674054,Suburban,2023-11-29,2023-12-05,6,No-Show
45040,41988,53.0,Male,Medicaid,False,False,Employed,College,False,21.190068,Suburban,2023-05-02,2023-12-19,231,No-Show
45041,93110,13.0,Female,Private,False,True,Retired,NaN,True,NaN,Suburban,2023-10-12,2024-09-07,331,No-Show

In [9]:
noshow_df = noshow_df.drop(columns=['Patient_ID', 'Booking_Date', 'Appointment_Date'])

In [10]:
# Preprocessing
noshow_df['Age'].fillna(noshow_df['Age'].median(), inplace=True)

noshow_df['Gender'].fillna(value='Unknown', inplace=True)

noshow_df['Insurance_Type'].fillna(value='Unknown', inplace=True)

noshow_df['Chronic_Disease'].fillna(value='Unknown', inplace=True)

noshow_df['Mental_Health_Status'].fillna(value='Unknown', inplace=True)

noshow_df['Employment_Status'].fillna(value='Unknown', inplace=True)

noshow_df['Education_Level'].fillna(value='Unknown', inplace=True)

noshow_df['Transportation_Access'].fillna(value='Unknown', inplace=True)

noshow_df['Distance_from_Facility'].fillna(noshow_df['Distance_from_Facility'].median(), inplace=True)

noshow_df['Area_Type'].fillna(value='Unknown', inplace=True)




noshow_df['Appointment_Outcome'] = noshow_df['Appointment_Outcome'].map({'Show':1, 'No-Show':0})

In [11]:
noshow_df

,Age,Gender,Insurance_Type,Chronic_Disease,Mental_Health_Status,Employment_Status,Education_Level,Transportation_Access,Distance_from_Facility,Area_Type,Days Diff,Appointment_Outcome
0,93.0,Male,Medicare,False,True,Student,Advanced Degree,True,37.785038,Suburban,285,1
1,52.0,Male,Uninsured,False,False,Employed,College,True,25.101971,Rural,257,0
2,8.0,Male,Medicare,True,Unknown,Unknown,Advanced Degree,True,27.277654,Rural,622,1
3,5.0,Other,Medicare,False,True,Student,College,True,44.618708,Unknown,366,1
4,15.0,Female,Medicaid,Unknown,False,Unemployed,High School,True,34.033755,Suburban,345,1
...,...,...,...,...,...,...,...,...,...,...,...,...
45037,57.0,Female,Private,True,False,Student,High School,True,28.410940,Suburban,35,1
45038,48.0,Female,Unknown,True,True,Student,Unknown,True,26.576418,Urban,113,0
45039,5.0,Other,Medicaid,True,True,Student,Unknown,False,20.674054,Suburban,6,0
45040,53.0,Male,Medicaid,False,False,Employed,College,False,21.190068,Suburban,231,0
45041,13.0,Female,Private,False,True,Retired,Unknown,True,25.101971,Suburban,331,0

In [12]:
categorical_features = ['Gender','Insurance_Type','Chronic_Disease','Mental_Health_Status','Employment_Status','Education_Level',
                       'Transportation_Access','Area_Type']

numeric_features = ['Age','Distance_from_Facility','Days Diff']

In [13]:
noshow_df.isnull().sum()

Age                       0
Gender                    0
Insurance_Type            0
Chronic_Disease           0
Mental_Health_Status      0
Employment_Status         0
Education_Level           0
Transportation_Access     0
Distance_from_Facility    0
Area_Type                 0
Days Diff                 0
Appointment_Outcome       0
dtype: int64

In [14]:
X = noshow_df.drop('Appointment_Outcome', axis=1)
y = noshow_df['Appointment_Outcome']

X = pd.get_dummies(X, columns=categorical_features)  # Use categorical_features directly

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest model
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the model
rf_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = rf_model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

# Display additional metrics
print('\nClassification Report:')
print(classification_report(y_test, y_pred))

print('\nConfusion Matrix:')
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.50

Classification Report:
              precision    recall  f1-score   support

           0       0.50      0.52      0.51      4463
           1       0.51      0.49      0.50      4546

    accuracy                           0.50      9009
   macro avg       0.50      0.50      0.50      9009
weighted avg       0.50      0.50      0.50      9009


Confusion Matrix:
[[2326 2137]
 [2334 2212]]