In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [2]:
# Import data
path = "clean_df.csv"

noshow_df = pd.read_csv(path)
noshow_df

,Age,Gender,Insurance_Type,Chronic_Disease,Mental_Health_Status,Employment_Status,Education_Level,Transportation_Access,Distance_from_Facility,Area_Type,Days Diff,Appointment_Outcome
0,93.0,Male,Medicare,False,True,Student,Advanced Degree,True,37.785038,Suburban,285,Show
1,52.0,Male,Uninsured,False,False,Employed,College,True,NaN,Rural,257,No-Show
2,8.0,Male,Medicare,True,NaN,NaN,Advanced Degree,True,27.277654,Rural,622,Show
3,5.0,Other,Medicare,False,True,Student,College,True,44.618708,NaN,366,Show
4,15.0,Female,Medicaid,NaN,False,Unemployed,High School,True,34.033755,Suburban,345,Show
...,...,...,...,...,...,...,...,...,...,...,...,...
45037,57.0,Female,Private,True,False,Student,High School,True,28.410940,Suburban,35,Show
45038,48.0,Female,NaN,True,True,Student,NaN,True,26.576418,Urban,113,No-Show
45039,5.0,Other,Medicaid,True,True,Student,NaN,False,20.674054,Suburban,6,No-Show
45040,53.0,Male,Medicaid,False,False,Employed,College,False,21.190068,Suburban,231,No-Show
45041,13.0,Female,Private,False,True,Retired,NaN,True,NaN,Suburban,331,No-Show

In [3]:
# Drop all n/a values
noshow_df = noshow_df.dropna()

In [4]:
noshow_df.dtypes

Age                       float64
Gender                     object
Insurance_Type             object
Chronic_Disease            object
Mental_Health_Status       object
Employment_Status          object
Education_Level            object
Transportation_Access      object
Distance_from_Facility    float64
Area_Type                  object
Days Diff                   int64
Appointment_Outcome        object
dtype: object

In [6]:
noshow_df.nunique()

Gender                   3
Insurance_Type           4
Chronic_Disease          2
Mental_Health_Status     2
Employment_Status        4
Education_Level          3
Transportation_Access    2
Area_Type                3
Appointment_Outcome      2
dtype: int64

In [7]:
#age_counts = noshow_df['Age'].value_counts()
#age_counts

In [8]:
gender_counts = noshow_df['Gender'].value_counts()
gender_counts

Gender
Female    3934
Other     3932
Male      3873
Name: count, dtype: int64

In [9]:
insurance_counts = noshow_df['Insurance_Type'].value_counts()
insurance_counts

Insurance_Type
Private      2989
Uninsured    2959
Medicare     2904
Medicaid     2887
Name: count, dtype: int64

In [10]:
chronic_disease_counts = noshow_df['Chronic_Disease'].value_counts()
chronic_disease_counts

Chronic_Disease
True     5876
False    5863
Name: count, dtype: int64

In [11]:
mental_health_status_counts = noshow_df['Mental_Health_Status'].value_counts()
mental_health_status_counts

Mental_Health_Status
False    5875
True     5864
Name: count, dtype: int64

In [12]:
employment_status_counts = noshow_df['Employment_Status'].value_counts()
employment_status_counts

Employment_Status
Student       3022
Employed      2992
Unemployed    2912
Retired       2813
Name: count, dtype: int64

In [13]:
education_level_counts = noshow_df['Education_Level'].value_counts()
education_level_counts

# Missing 'None' values

Education_Level
Advanced Degree    4003
High School        3945
College            3791
Name: count, dtype: int64

In [14]:
transportation_access_counts = noshow_df['Transportation_Access'].value_counts()
transportation_access_counts

Transportation_Access
False    5983
True     5756
Name: count, dtype: int64

In [15]:
#distance_counts = noshow_df['Distance_from_Facility'].value_counts()
#distance_counts

In [16]:
area_counts = noshow_df['Area_Type'].value_counts()
area_counts

Area_Type
Rural       3944
Urban       3901
Suburban    3894
Name: count, dtype: int64

In [17]:
#days_diff_counts = noshow_df['Days Diff'].value_counts()
#days_diff_counts

In [18]:
appt_outcome_counts = noshow_df['Appointment_Outcome'].value_counts()
appt_outcome_counts

Appointment_Outcome
No-Show    5871
Show       5868
Name: count, dtype: int64

In [19]:
# Map Appointment Outcome column to 0's and 1's
noshow_df['Appointment_Outcome'] = noshow_df['Appointment_Outcome'].map({'Show':1, 'No-Show':0})

In [20]:
# Convert categorical data to numeric with `pd.get_dummies`
noshow_df_dummies = pd.get_dummies(noshow_df)
noshow_df_dummies.dtypes

Appointment_Outcome                int64
Gender_Female                       bool
Gender_Male                         bool
Gender_Other                        bool
Insurance_Type_Medicaid             bool
Insurance_Type_Medicare             bool
Insurance_Type_Private              bool
Insurance_Type_Uninsured            bool
Chronic_Disease_False               bool
Chronic_Disease_True                bool
Mental_Health_Status_False          bool
Mental_Health_Status_True           bool
Employment_Status_Employed          bool
Employment_Status_Retired           bool
Employment_Status_Student           bool
Employment_Status_Unemployed        bool
Education_Level_Advanced Degree     bool
Education_Level_College             bool
Education_Level_High School         bool
Transportation_Access_False         bool
Transportation_Access_True          bool
Area_Type_Rural                     bool
Area_Type_Suburban                  bool
Area_Type_Urban                     bool
dtype: object

In [21]:
noshow_df_dummies

,Appointment_Outcome,Gender_Female,Gender_Male,Gender_Other,Insurance_Type_Medicaid,Insurance_Type_Medicare,Insurance_Type_Private,Insurance_Type_Uninsured,Chronic_Disease_False,Chronic_Disease_True,...,Employment_Status_Student,Employment_Status_Unemployed,Education_Level_Advanced Degree,Education_Level_College,Education_Level_High School,Transportation_Access_False,Transportation_Access_True,Area_Type_Rural,Area_Type_Suburban,Area_Type_Urban
0,1,False,True,False,False,True,False,False,True,False,...,True,False,True,False,False,False,True,False,True,False
8,1,True,False,False,False,True,False,False,False,True,...,True,False,True,False,False,True,False,False,True,False
9,1,False,True,False,False,False,True,False,True,False,...,False,True,True,False,False,False,True,False,False,True
11,0,False,True,False,False,False,True,False,False,True,...,False,False,True,False,False,False,True,False,True,False
17,1,False,True,False,True,False,False,False,True,False,...,False,False,False,True,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45033,0,False,True,False,False,True,False,False,False,True,...,False,False,True,False,False,True,False,False,False,True
45034,1,True,False,False,False,True,False,False,True,False,...,False,False,True,False,False,True,False,False,False,True
45035,0,True,False,False,False,True,False,False,False,True,...,True,False,True,False,False,True,False,False,True,False
45037,1,True,False,False,False,False,True,False,False,True,...,True,False,False,False,True,False,True,False,True,False
45040,0,False,True,False,True,False,False,False,True,False,...,False,False,False,True,False,True,False,False,True,False

In [22]:
# Split our preprocessed data into our features and target arrays
X = noshow_df_dummies.drop('Appointment_Outcome', axis=1)
y = noshow_df_dummies['Appointment_Outcome']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [24]:
len(X_train_scaled[0])

23

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 20)                480

 dense_4 (Dense)             (None, 10)                210

 dense_5 (Dense)             (None, 1)                 11

=================================================================
Total params: 701
Trainable params: 701
Non-trainable params: 0
_________________________________________________________________

In [30]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [31]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
294/294 [==============================] - 1s 1ms/step - loss: 0.7112 - accuracy: 0.4960
Epoch 2/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6951 - accuracy: 0.5105
Epoch 3/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6926 - accuracy: 0.5209
Epoch 4/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6910 - accuracy: 0.5244
Epoch 5/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6899 - accuracy: 0.5326
Epoch 6/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6890 - accuracy: 0.5350
Epoch 7/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6884 - accuracy: 0.5441
Epoch 8/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6873 - accuracy: 0.5488
Epoch 9/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6868 - accuracy: 0.5450
Epoch 10/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6863 - accuracy: 0.5474
Epoch 11/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6856 - accuracy: 0.5488
Epoch 12/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6850 - accuracy: 0.5547
Epoch 13/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6843 - accuracy: 0.5524
Epoch 14/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6839 - accuracy: 0.5565
Epoch 15/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6833 - accuracy: 0.5623
Epoch 16/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6831 - accuracy: 0.5565
Epoch 17/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6824 - accuracy: 0.5602
Epoch 18/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6824 - accuracy: 0.5566
Epoch 19/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6820 - accuracy: 0.5630
Epoch 20/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6807 - accuracy: 0.5652
Epoch 21/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6805 - accuracy: 0.5628
Epoch 22/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6806 - accuracy: 0.5643
Epoch 23/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6799 - accuracy: 0.5677
Epoch 24/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6794 - accuracy: 0.5676
Epoch 25/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6788 - accuracy: 0.5693
Epoch 26/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6788 - accuracy: 0.5686
Epoch 27/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6781 - accuracy: 0.5719
Epoch 28/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6776 - accuracy: 0.5676
Epoch 29/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6772 - accuracy: 0.5744
Epoch 30/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6771 - accuracy: 0.5729
Epoch 31/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6766 - accuracy: 0.5762
Epoch 32/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6761 - accuracy: 0.5731
Epoch 33/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6759 - accuracy: 0.5764
Epoch 34/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6758 - accuracy: 0.5761
Epoch 35/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6751 - accuracy: 0.5796
Epoch 36/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6746 - accuracy: 0.5769
Epoch 37/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6743 - accuracy: 0.5811
Epoch 38/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6748 - accuracy: 0.5779
Epoch 39/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6739 - accuracy: 0.5795
Epoch 40/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6739 - accuracy: 0.5853
Epoch 41/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6735 - accuracy: 0.5811
Epoch 42/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6737 - accuracy: 0.5820
Epoch 43/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6733 - accuracy: 0.5831
Epoch 44/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6727 - accuracy: 0.5852
Epoch 45/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6726 - accuracy: 0.5846
Epoch 46/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6719 - accuracy: 0.5873
Epoch 47/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6721 - accuracy: 0.5828
Epoch 48/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6715 - accuracy: 0.5850
Epoch 49/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6720 - accuracy: 0.5846
Epoch 50/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6716 - accuracy: 0.5876
Epoch 51/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6710 - accuracy: 0.5890
Epoch 52/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6708 - accuracy: 0.5883
Epoch 53/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6702 - accuracy: 0.5907
Epoch 54/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6705 - accuracy: 0.5859
Epoch 55/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6702 - accuracy: 0.5871
Epoch 56/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6698 - accuracy: 0.5875
Epoch 57/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6698 - accuracy: 0.5902
Epoch 58/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6696 - accuracy: 0.5862
Epoch 59/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6690 - accuracy: 0.5902
Epoch 60/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6693 - accuracy: 0.5880
Epoch 61/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6687 - accuracy: 0.5865
Epoch 62/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6684 - accuracy: 0.5898
Epoch 63/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6681 - accuracy: 0.5924
Epoch 64/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6681 - accuracy: 0.5890
Epoch 65/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6677 - accuracy: 0.5902
Epoch 66/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6676 - accuracy: 0.5914
Epoch 67/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6678 - accuracy: 0.5892
Epoch 68/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6674 - accuracy: 0.5916
Epoch 69/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6674 - accuracy: 0.5901
Epoch 70/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6665 - accuracy: 0.5925
Epoch 71/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6672 - accuracy: 0.5946
Epoch 72/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6670 - accuracy: 0.5907
Epoch 73/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6668 - accuracy: 0.5934
Epoch 74/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6659 - accuracy: 0.5949
Epoch 75/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6658 - accuracy: 0.5905
Epoch 76/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6664 - accuracy: 0.5966
Epoch 77/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6661 - accuracy: 0.5927
Epoch 78/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6661 - accuracy: 0.5967
Epoch 79/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6654 - accuracy: 0.5944
Epoch 80/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6657 - accuracy: 0.5956
Epoch 81/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6656 - accuracy: 0.5940
Epoch 82/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6655 - accuracy: 0.5981
Epoch 83/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6656 - accuracy: 0.5962
Epoch 84/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6649 - accuracy: 0.5956
Epoch 85/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6645 - accuracy: 0.5956
Epoch 86/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6648 - accuracy: 0.5944
Epoch 87/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6647 - accuracy: 0.5955
Epoch 88/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6642 - accuracy: 0.5953
Epoch 89/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6637 - accuracy: 0.5963
Epoch 90/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6641 - accuracy: 0.5934
Epoch 91/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6638 - accuracy: 0.5957
Epoch 92/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6641 - accuracy: 0.5939
Epoch 93/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6632 - accuracy: 0.5947
Epoch 94/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6631 - accuracy: 0.5953
Epoch 95/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6631 - accuracy: 0.5961
Epoch 96/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6626 - accuracy: 0.5968
Epoch 97/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6631 - accuracy: 0.5971
Epoch 98/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6627 - accuracy: 0.5970
Epoch 99/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6632 - accuracy: 0.5979
Epoch 100/100
294/294 [==============================] - 0s 1ms/step - loss: 0.6627 - accuracy: 0.5957

In [28]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

74/74 - 0s - loss: 0.7021 - accuracy: 0.5136 - 242ms/epoch - 3ms/step
Loss: 0.7020864486694336, Accuracy: 0.5136286020278931