In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [2]:
# Import data
path = "clean_df.csv"

noshow_df = pd.read_csv(path)
noshow_df

,Age,Gender,Insurance_Type,Chronic_Disease,Mental_Health_Status,Employment_Status,Education_Level,Transportation_Access,Distance_from_Facility,Area_Type,Days Diff,Appointment_Outcome
0,93.0,Male,Medicare,False,True,Student,Advanced Degree,True,37.785038,Suburban,285,Show
1,52.0,Male,Uninsured,False,False,Employed,College,True,NaN,Rural,257,No-Show
2,8.0,Male,Medicare,True,NaN,NaN,Advanced Degree,True,27.277654,Rural,622,Show
3,5.0,Other,Medicare,False,True,Student,College,True,44.618708,NaN,366,Show
4,15.0,Female,Medicaid,NaN,False,Unemployed,High School,True,34.033755,Suburban,345,Show
...,...,...,...,...,...,...,...,...,...,...,...,...
45037,57.0,Female,Private,True,False,Student,High School,True,28.410940,Suburban,35,Show
45038,48.0,Female,NaN,True,True,Student,NaN,True,26.576418,Urban,113,No-Show
45039,5.0,Other,Medicaid,True,True,Student,NaN,False,20.674054,Suburban,6,No-Show
45040,53.0,Male,Medicaid,False,False,Employed,College,False,21.190068,Suburban,231,No-Show
45041,13.0,Female,Private,False,True,Retired,NaN,True,NaN,Suburban,331,No-Show

In [3]:
# Drop all n/a values
noshow_df = noshow_df.dropna(subset=['Appointment_Outcome'])

In [4]:
noshow_df

,Age,Gender,Insurance_Type,Chronic_Disease,Mental_Health_Status,Employment_Status,Education_Level,Transportation_Access,Distance_from_Facility,Area_Type,Days Diff,Appointment_Outcome
0,93.0,Male,Medicare,False,True,Student,Advanced Degree,True,37.785038,Suburban,285,Show
1,52.0,Male,Uninsured,False,False,Employed,College,True,NaN,Rural,257,No-Show
2,8.0,Male,Medicare,True,NaN,NaN,Advanced Degree,True,27.277654,Rural,622,Show
3,5.0,Other,Medicare,False,True,Student,College,True,44.618708,NaN,366,Show
4,15.0,Female,Medicaid,NaN,False,Unemployed,High School,True,34.033755,Suburban,345,Show
...,...,...,...,...,...,...,...,...,...,...,...,...
45037,57.0,Female,Private,True,False,Student,High School,True,28.410940,Suburban,35,Show
45038,48.0,Female,NaN,True,True,Student,NaN,True,26.576418,Urban,113,No-Show
45039,5.0,Other,Medicaid,True,True,Student,NaN,False,20.674054,Suburban,6,No-Show
45040,53.0,Male,Medicaid,False,False,Employed,College,False,21.190068,Suburban,231,No-Show
45041,13.0,Female,Private,False,True,Retired,NaN,True,NaN,Suburban,331,No-Show

In [5]:
noshow_df.dtypes

Age                       float64
Gender                     object
Insurance_Type             object
Chronic_Disease            object
Mental_Health_Status       object
Employment_Status          object
Education_Level            object
Transportation_Access      object
Distance_from_Facility    float64
Area_Type                  object
Days Diff                   int64
Appointment_Outcome        object
dtype: object

In [6]:
noshow_df.nunique()

Age                         101
Gender                        3
Insurance_Type                4
Chronic_Disease               2
Mental_Health_Status          2
Employment_Status             4
Education_Level               3
Transportation_Access         2
Distance_from_Facility    40494
Area_Type                     3
Days Diff                   724
Appointment_Outcome           2
dtype: int64

In [7]:
age_counts = noshow_df['Age'].value_counts()
age_counts

Age
28.0    452
94.0    443
96.0    441
2.0     440
9.0     438
       ...
58.0    365
51.0    364
17.0    362
66.0    361
71.0    339
Name: count, Length: 101, dtype: int64

In [8]:
gender_counts = noshow_df['Gender'].value_counts()
gender_counts

Gender
Female    13656
Other     13501
Male      13444
Name: count, dtype: int64

In [9]:
insurance_counts = noshow_df['Insurance_Type'].value_counts()
insurance_counts

Insurance_Type
Uninsured    10211
Medicare     10163
Private      10141
Medicaid     10025
Name: count, dtype: int64

In [10]:
chronic_disease_counts = noshow_df['Chronic_Disease'].value_counts()
chronic_disease_counts

Chronic_Disease
False    20343
True     20233
Name: count, dtype: int64

In [11]:
mental_health_status_counts = noshow_df['Mental_Health_Status'].value_counts()
mental_health_status_counts

Mental_Health_Status
False    20381
True     20095
Name: count, dtype: int64

In [12]:
employment_status_counts = noshow_df['Employment_Status'].value_counts()
employment_status_counts

Employment_Status
Employed      10192
Retired       10118
Student       10089
Unemployed    10031
Name: count, dtype: int64

In [13]:
education_level_counts = noshow_df['Education_Level'].value_counts()
education_level_counts

# Missing 'None' values

Education_Level
High School        10277
Advanced Degree    10261
College             9872
Name: count, dtype: int64

In [14]:
transportation_access_counts = noshow_df['Transportation_Access'].value_counts()
transportation_access_counts

Transportation_Access
False    20308
True     20212
Name: count, dtype: int64

In [15]:
distance_counts = noshow_df['Distance_from_Facility'].value_counts()
distance_counts

Distance_from_Facility
37.785038    1
7.728993     1
39.040855    1
44.856200    1
44.440638    1
            ..
39.135709    1
12.547019    1
21.085779    1
13.770227    1
21.190068    1
Name: count, Length: 40494, dtype: int64

In [16]:
area_counts = noshow_df['Area_Type'].value_counts()
area_counts

Area_Type
Urban       13586
Rural       13505
Suburban    13475
Name: count, dtype: int64

In [17]:
days_diff_counts = noshow_df['Days Diff'].value_counts()
days_diff_counts

Days Diff
307    113
123    110
106    108
101    106
217    105
      ...
714      1
723      1
727      1
710      1
713      1
Name: count, Length: 724, dtype: int64

In [18]:
appt_outcome_counts = noshow_df['Appointment_Outcome'].value_counts()
appt_outcome_counts

Appointment_Outcome
Show       22575
No-Show    22467
Name: count, dtype: int64

In [19]:
# Map Appointment Outcome column to 0's and 1's
noshow_df['Appointment_Outcome'] = noshow_df['Appointment_Outcome'].map({'Show':1, 'No-Show':0})
#noshow_df['Appointment_Outcome'] = noshow_df['Appointment_Outcome'].astype(object)

In [20]:
# Bin Age into groups
age_bins = [0, 24, 50, 75, 100]
age_labels = ['0-24', '25-50', '51-75', '76-100']

noshow_df['Age'] = pd.cut(noshow_df['Age'], bins=age_bins, labels=age_labels, include_lowest=True)

In [21]:
# Bin Distance into groups
distance_bins = [0, 10, 20, 30, 40, 50]
distance_labels = ['0-10','11-20','21-30','31-40','41-50']

noshow_df['Distance_from_Facility'] = pd.cut(noshow_df['Distance_from_Facility'], bins=distance_bins, labels=distance_labels, include_lowest=True)

In [22]:
# Bin Days Diff into groups
days_diff_bins = [0, 100, 200, 300, 400, 500, 600, 700, 800]
days_diff_labels = ['0-100','101-200', '201-300', '301-400', '401-500', '501-600', '601-700', '701-800']

noshow_df['Days Diff'] = pd.cut(noshow_df['Days Diff'], bins=days_diff_bins, labels=days_diff_labels, include_lowest=True)

In [23]:
# Convert categorical data to numeric with `pd.get_dummies`
noshow_df_dummies = pd.get_dummies(noshow_df)
noshow_df_dummies.dtypes

Appointment_Outcome                int64
Age_0-24                            bool
Age_25-50                           bool
Age_51-75                           bool
Age_76-100                          bool
Gender_Female                       bool
Gender_Male                         bool
Gender_Other                        bool
Insurance_Type_Medicaid             bool
Insurance_Type_Medicare             bool
Insurance_Type_Private              bool
Insurance_Type_Uninsured            bool
Chronic_Disease_False               bool
Chronic_Disease_True                bool
Mental_Health_Status_False          bool
Mental_Health_Status_True           bool
Employment_Status_Employed          bool
Employment_Status_Retired           bool
Employment_Status_Student           bool
Employment_Status_Unemployed        bool
Education_Level_Advanced Degree     bool
Education_Level_College             bool
Education_Level_High School         bool
Transportation_Access_False         bool
Transportation_Access_True          bool
Distance_from_Facility_0-10         bool
Distance_from_Facility_11-20        bool
Distance_from_Facility_21-30        bool
Distance_from_Facility_31-40        bool
Distance_from_Facility_41-50        bool
Area_Type_Rural                     bool
Area_Type_Suburban                  bool
Area_Type_Urban                     bool
Days Diff_0-100                     bool
Days Diff_101-200                   bool
Days Diff_201-300                   bool
Days Diff_301-400                   bool
Days Diff_401-500                   bool
Days Diff_501-600                   bool
Days Diff_601-700                   bool
Days Diff_701-800                   bool
dtype: object

In [24]:
noshow_df_dummies.isnull().sum()

Appointment_Outcome                0
Age_0-24                           0
Age_25-50                          0
Age_51-75                          0
Age_76-100                         0
Gender_Female                      0
Gender_Male                        0
Gender_Other                       0
Insurance_Type_Medicaid            0
Insurance_Type_Medicare            0
Insurance_Type_Private             0
Insurance_Type_Uninsured           0
Chronic_Disease_False              0
Chronic_Disease_True               0
Mental_Health_Status_False         0
Mental_Health_Status_True          0
Employment_Status_Employed         0
Employment_Status_Retired          0
Employment_Status_Student          0
Employment_Status_Unemployed       0
Education_Level_Advanced Degree    0
Education_Level_College            0
Education_Level_High School        0
Transportation_Access_False        0
Transportation_Access_True         0
Distance_from_Facility_0-10        0
Distance_from_Facility_11-20       0
Distance_from_Facility_21-30       0
Distance_from_Facility_31-40       0
Distance_from_Facility_41-50       0
Area_Type_Rural                    0
Area_Type_Suburban                 0
Area_Type_Urban                    0
Days Diff_0-100                    0
Days Diff_101-200                  0
Days Diff_201-300                  0
Days Diff_301-400                  0
Days Diff_401-500                  0
Days Diff_501-600                  0
Days Diff_601-700                  0
Days Diff_701-800                  0
dtype: int64

In [25]:
# Split our preprocessed data into our features and target arrays
X = noshow_df_dummies.drop('Appointment_Outcome', axis=1)
y = noshow_df_dummies['Appointment_Outcome']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
len(X_train_scaled[0])

40

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 20
hidden_nodes_layer2 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                820

 dense_1 (Dense)             (None, 10)                210

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 1,041
Trainable params: 1,041
Non-trainable params: 0
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
 147/1127 [==>...........................] - ETA: 1s - loss: 0.7045 - accuracy: 0.4868

1127/1127 [==============================] - 2s 1ms/step - loss: 0.6964 - accuracy: 0.5009
Epoch 2/100
1127/1127 [==============================] - 1s 958us/step - loss: 0.6925 - accuracy: 0.5182
Epoch 3/100
1127/1127 [==============================] - 1s 979us/step - loss: 0.6916 - accuracy: 0.5242
Epoch 4/100
1127/1127 [==============================] - 1s 952us/step - loss: 0.6910 - accuracy: 0.5275
Epoch 5/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6903 - accuracy: 0.5310
Epoch 6/100
1127/1127 [==============================] - 1s 945us/step - loss: 0.6893 - accuracy: 0.5336
Epoch 7/100
1127/1127 [==============================] - 1s 978us/step - loss: 0.6885 - accuracy: 0.5389
Epoch 8/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6878 - accuracy: 0.5391
Epoch 9/100
1127/1127 [==============================] - 1s 988us/step - loss: 0.6871 - accuracy: 0.5451
Epoch 10/100
1127/1127 [==============================] - 1s 998us/step - loss: 0.6862 - accuracy: 0.5459
Epoch 11/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6855 - accuracy: 0.5447
Epoch 12/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6850 - accuracy: 0.5479
Epoch 13/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6845 - accuracy: 0.5492
Epoch 14/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6839 - accuracy: 0.5510
Epoch 15/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6831 - accuracy: 0.5520
Epoch 16/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6826 - accuracy: 0.5548
Epoch 17/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6822 - accuracy: 0.5565
Epoch 18/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6818 - accuracy: 0.5574
Epoch 19/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6812 - accuracy: 0.5588
Epoch 20/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6809 - accuracy: 0.5594
Epoch 21/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6805 - accuracy: 0.5609
Epoch 22/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6799 - accuracy: 0.5612
Epoch 23/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6796 - accuracy: 0.5630
Epoch 24/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6791 - accuracy: 0.5627
Epoch 25/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6789 - accuracy: 0.5643
Epoch 26/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6787 - accuracy: 0.5632
Epoch 27/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6777 - accuracy: 0.5666
Epoch 28/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6779 - accuracy: 0.5659
Epoch 29/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6776 - accuracy: 0.5664
Epoch 30/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6772 - accuracy: 0.5690
Epoch 31/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6768 - accuracy: 0.5688
Epoch 32/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6765 - accuracy: 0.5670
Epoch 33/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6762 - accuracy: 0.5687
Epoch 34/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6757 - accuracy: 0.5708
Epoch 35/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6756 - accuracy: 0.5694
Epoch 36/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6753 - accuracy: 0.5696
Epoch 37/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6749 - accuracy: 0.5743
Epoch 38/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6748 - accuracy: 0.5718
Epoch 39/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6746 - accuracy: 0.5714
Epoch 40/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6743 - accuracy: 0.5725
Epoch 41/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6741 - accuracy: 0.5747
Epoch 42/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6736 - accuracy: 0.5748
Epoch 43/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6738 - accuracy: 0.5749
Epoch 44/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6732 - accuracy: 0.5758
Epoch 45/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6730 - accuracy: 0.5776
Epoch 46/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6730 - accuracy: 0.5790
Epoch 47/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6725 - accuracy: 0.5776
Epoch 48/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6726 - accuracy: 0.5752
Epoch 49/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6721 - accuracy: 0.5759
Epoch 50/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6718 - accuracy: 0.5781
Epoch 51/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6719 - accuracy: 0.5783
Epoch 52/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6715 - accuracy: 0.5794
Epoch 53/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6714 - accuracy: 0.5788
Epoch 54/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6709 - accuracy: 0.5782
Epoch 55/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6711 - accuracy: 0.5781
Epoch 56/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6709 - accuracy: 0.5804
Epoch 57/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6708 - accuracy: 0.5805
Epoch 58/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6706 - accuracy: 0.5814
Epoch 59/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6703 - accuracy: 0.5807
Epoch 60/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6704 - accuracy: 0.5802
Epoch 61/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6700 - accuracy: 0.5819
Epoch 62/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6702 - accuracy: 0.5799
Epoch 63/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6699 - accuracy: 0.5798
Epoch 64/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6698 - accuracy: 0.5795
Epoch 65/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6696 - accuracy: 0.5802
Epoch 66/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6697 - accuracy: 0.5803
Epoch 67/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6695 - accuracy: 0.5813
Epoch 68/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6691 - accuracy: 0.5816
Epoch 69/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6688 - accuracy: 0.5828
Epoch 70/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6689 - accuracy: 0.5832
Epoch 71/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6688 - accuracy: 0.5802
Epoch 72/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6687 - accuracy: 0.5811
Epoch 73/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6683 - accuracy: 0.5813
Epoch 74/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6682 - accuracy: 0.5825
Epoch 75/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6683 - accuracy: 0.5813
Epoch 76/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6680 - accuracy: 0.5818
Epoch 77/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6678 - accuracy: 0.5833
Epoch 78/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6681 - accuracy: 0.5844
Epoch 79/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6676 - accuracy: 0.5825
Epoch 80/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6676 - accuracy: 0.5840
Epoch 81/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6677 - accuracy: 0.5842
Epoch 82/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6675 - accuracy: 0.5829
Epoch 83/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6675 - accuracy: 0.5851
Epoch 84/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6675 - accuracy: 0.5853
Epoch 85/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6673 - accuracy: 0.5853
Epoch 86/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6672 - accuracy: 0.5856
Epoch 87/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6670 - accuracy: 0.5829
Epoch 88/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6671 - accuracy: 0.5820
Epoch 89/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6671 - accuracy: 0.5839
Epoch 90/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6671 - accuracy: 0.5838
Epoch 91/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6667 - accuracy: 0.5840
Epoch 92/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6668 - accuracy: 0.5852
Epoch 93/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6666 - accuracy: 0.5854
Epoch 94/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6666 - accuracy: 0.5848
Epoch 95/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6667 - accuracy: 0.5859
Epoch 96/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6667 - accuracy: 0.5840
Epoch 97/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6664 - accuracy: 0.5839
Epoch 98/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6662 - accuracy: 0.5848
Epoch 99/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6663 - accuracy: 0.5876
Epoch 100/100
1127/1127 [==============================] - 1s 1ms/step - loss: 0.6662 - accuracy: 0.5870

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

282/282 - 0s - loss: 0.7268 - accuracy: 0.4877 - 435ms/epoch - 2ms/step
Loss: 0.7268429398536682, Accuracy: 0.48773449659347534